{% extends "base.html.twig" %}

{% block title %}{{ "chat.title" | trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="flex-1 p:2 sm:p-6 justify-between flex flex-col bg-gray-900" id="chat-section">

        <div
                id="messages"
                {{ turbo_stream_listen('chat') }}
                class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">

            {% for message in messages %}
                <div class="chat-message" id="{{ 'message_' ~ message.id }}">
                    <div class="flex items-center {% if true %}justify-end{% endif %}">
                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end">
                            <div><span class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-teal-600 text-white text-sm">{{ message.content }}</span></div>
                        </div>
                        <img src="https://images.unsplash.com/photo-1590031905470-a1a1feacbb0b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144" alt="My profile" class="w-6 h-6 rounded-full order-2">
                    </div>
                   {# <div class="flex items-end {% if true %}justify-end{% endif %} text-white text-xs">
                        <div>{{ message.createAt | date ('d/m H:i') }}</div>
                    </div>#}
                </div>
            {% endfor %}
        </div>
        <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0">
            <div class="relative flex">
                {% if not app.user %}
                    <turbo-frame id="message_form">
                        {{ form_start(formChat) }}
                            {{ form_widget(formChat) }}

                        <div class="absolute right-0 items-center inset-y-0 hidden sm:flex">
                            <button type="submit" class="inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-500 ease-in-out text-white bg-teal-500 hover:bg-teal-300 focus:outline-none">
                                <span class="font-bold">{{ "form.chat.envoyer" | trans }}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6 ml-2 transform rotate-90">
                                    <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
                                </svg>
                            </button>
                        </div>
                        {{ form_end(formChat) }}
                    </turbo-frame>
                {% else %}
                    <div class="sm:flex sm:gap-4">
                        <a href="/" class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700 dark:hover:bg-teal-500">
                            {{ "chat.besoin_connexion" | trans }} 🤗
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}